* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.header-nav {
  justify-content: center;
  padding: 0.05em;
}

.header-nav img {
  padding: 0.5em 0;
}

.header-nav ul {
  margin: 0 3rem;
}

.header-nav ul li {
  position: relative;
}

.header-nav ul li.active::after {
  content: "";
  background-color: blue;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.multi {
  max-width: 0;
  max-height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.7em solid white;
  margin: 0 0.2em;
  margin-top: 0.3em;
}

.multi-black {
  margin-top: 0.4em;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.5em solid black;
}

.unstyled {
  list-style: none;
}

.unstyled li {
  display: flex;
  align-items: center;
  padding: 1em;
}

.unstyled li a {
  text-decoration: none;
  color: black;
}

.blu-header-bar {
  padding: 0.2em 3rem;
  background-color: blue;
  color: white;
  justify-content: end;
}

.blu-header-bar > * {
  margin: 0 3rem;
}

.search {
  border-bottom: 2px solid blue;
  align-self: center;
  align-items: end;
}

.search input {
  text-align: end;
  margin: 0 0.2em;
  outline: 0;
}

.jumbo {
  height: 50vh;
}

.jumbo img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main {
  background-color: black;
}

main .container {
  max-width: 900px;
  margin: 0 auto;
}

main .container .series-view {
  flex-wrap: wrap;
}

main .container .series-view .card {
  padding: 0.2em;
  width: 16.6666666667%;
}

main .container .series-view .card .body {
  position: relative;
}

main .container .series-view .card img {
  width: 100%;
}

main .container .series-view .card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: black;
  width: 100%;
  height: 2em;
}

main .label {
  display: inline-block;
  color: white;
  background-color: rgb(47, 155, 192);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5em;
  transform: translateY(-50%);
}

